/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

   
  nav {
	  display: inline-block;
	  margin: 2%;
	  align-items: center;
	  width: 70%;

  }
    nav a {
		
		font-size: 20px;
	}

	.logo {
		float: auto;
	}
	 .main-header {
		display: inline-block;
		padding: 10%;
		align-items: center;
		
	 } 
	  
	 .header-image {
		 float: right;
		 margin-left: 5%;
		 padding: 1%;
		 margin-bottom: 1%;
	 }
	   
	    
	   h1 {
		   margin: 5%;
		   font-size: 56px;
		   font-weight: bold;
		   text-align: center;
		   padding: 12%;
		}
		  button {
			  font-size: 15px;
			  color: blue;
			  font-weight: bold;
			   margin: 5%;
			   padding: 2%;
		  }
	   }

	     button:hover {
		   color: brown;
		   
	   }
	   .features-content {
		    display: inline-block;
		   width: 40%
		   margin-left: 3%;
		   padding: 2%;
	   }
	    .middle-img {
			align-content: center;
		}

	     .services-content {
		   display: inline-block;
		   width: 30%;
		   margin-left: 2%;
	   }